
/*CONTACTO*/

.contacto__titulo {
    text-align: right;
    color:rgb(44, 185, 185);
    margin: 2rem;
}

.contacto__titulo--derecho{
    text-align: right;
}

.container_border{
    padding: 2rem;
    margin-top: 8rem;
    background-color:whitesmoke;
}